<h2> 게시글 보기 <br />
  <a href="/user/new">게시글 쓰기</a></h2>

<table class = "table">
  <thead>
    <tr>
      <th scope="col">글번호</th>
      <th scope="col">글쓴이</th>
      <th scope="col">제목</th>
      <th scope="col">내용</th>
      <th scope="col">보기</th>
      <th scope="col">수정</th>
      <th scope="col">삭제</th>
    </tr>
  </thead>
  <% @post.each do |post| %>
  <tbody>
    <tr>
      <td> <%= post.id%> </td>
      <td> <%= post.username%> </td>
      <td> <%= post.title%> </td>
      <td> <%= post.content%> </td>
      <td> <a href="/user/show/<%= post.id %>">보기</a> </td>
      <td> <a href="/user/edit/<%= post.id %>">수정</a> </td>
      <td> <a href="/user/destroy/<%= post.id %>">삭제</a> </td>
    </tr>
  </tbody>
  <%end%>
</table>
